asgiref==3.11.1
django==6.0.3
django-cors-headers==4.9.0
django-rest-knox==5.0.4
djangorestframework==3.16.1
pillow==12.1.1
psycopg2-binary==2.9.11
python-decouple==3.8
sqlparse==0.5.5
drf-spectacular
django-filter
num2words
reportlab
qrcode
reportlab
xlsxwriter 
pandas 